#plantillas{
    display:none;    
}

html, 
body, 
#panel_principal, 
.panel_control_rangers{
    height:100%;
}

.panel_control_rangers #botonera_ranger{
    position:absolute;
    bottom:18px;
    right:23px;
}

.boton_redondo_flotante{
    display:inline-block;
    border-radius:25px;
    height:50px;
}

.boton_redondo_flotante:hover{
    -webkit-box-shadow: 0 0 16px rgba(66, 140, 240, 1);
    box-shadow: 0 0 16px rgba(66, 140, 240, 1);
}

.boton_redondo_flotante .imagen_boton{
    height:50px;
}

.boton_redondo_flotante_prendido{
    -webkit-box-shadow: 0 0 16px rgba(255, 0, 0, 1);
    box-shadow: 0 0 16px rgba(255, 0, 0, 1);
}

.boton_redondo_flotante_apagado{
    -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 1);
    box-shadow: 0 0 16px rgba(0, 0, 0, 1);
}

/*make sure the viewport is 100% height*/
html, body {
    height : 100%;
    margin:0px;
}

/*make the page element 100% height*/
.panel_control_rangers {
    height : 100%;
    width : 100%;
    position:relative;
}

.panel_control_rangers #div_mapa{
    position : absolute;
    top      : 0px;
    right    : 0px;
    bottom   : 0px;
    left     : 0px;
}

.panel_control_rangers #layer_commander{
    position : absolute;
    top      : 0px;
    right    : 0px;
    bottom   : 0px;
    left     : 0px;
    /*pointer-events: none;*/
}