#plantillas{
    display:none;    
}

html, 
body, 
#panel_principal, 
.panel_control_rangers,
.panel_control_rangers #div_mapa{
    height:100%;
}

.panel_control_rangers{
    position:relative;
}

.panel_control_rangers #botonera_ranger{
    position:absolute;
    bottom:5px;
    left:5px;
}

.boton_redondo_flotante{
    display:inline-block;
    border-radius:35px;
    height:70px;
}

.boton_redondo_flotante:hover{
    -webkit-box-shadow: 0 0 16px rgba(66, 140, 240, 1);
    box-shadow: 0 0 16px rgba(66, 140, 240, 1);
}

.boton_redondo_flotante .imagen_boton{
    height:70px;
}

.boton_redondo_flotante_prendido{
    -webkit-box-shadow: 0 0 16px rgba(255, 0, 0, 1);
    box-shadow: 0 0 16px rgba(255, 0, 0, 1);
}

.boton_redondo_flotante_apagado{
    -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 1);
    box-shadow: 0 0 16px rgba(0, 0, 0, 1);
}

/*make sure the viewport is 100% height*/
html, body {
    height : 100%;
}

/*make the page element 100% height*/
#pantalla_panel_control_rangers {
    height : 100%;
}

/*specify a height for the header so we can line-up the elements, the default is 40px*/
#pantalla_panel_control_rangers .ui-header {
    height : 40px;
}

/*set the content to be full-width and height except it doesn't overlap the header or footer*/
#pantalla_panel_control_rangers .ui-content {
    position : absolute;
    top      : 40px;
    right    : 0;
    bottom   : 30px;
    left     : 0;
}

/*absolutely position the footer to the bottom of the page*/
#pantalla_panel_control_rangers .ui-footer {
    position : absolute;
    bottom   : 0;
    left     : 0;
    width    : 100%;
    height   : 30px;
}